<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Tomer marzok</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="add">add item</a>
        <a class="nav-item nav-link" routerLink="update">update item</a>
        <a class="nav-item nav-link" routerLink="getById">get item by id</a>
        <a class="nav-item nav-link" routerLink="getItems">get all items</a>
        <a class="nav-item nav-link" routerLink="withdraw">withdraw item</a>
        <a class="nav-item nav-link" routerLink="deposit">deposit item</a>
        <a class="nav-item nav-link" routerLink="remove">remove item</a>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>